.container {
  margin-left: 1%;
  margin-right: 1%;
}
.overlay {
  opacity: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.overlayToast {
  margin-left: 455px;
  margin-top: 125px;
}

.overlay2 {
  margin-top: 40px;
}

.container2 {
  overflow-y: scroll;
  height: 400px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  background-color: #e0e0e0;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  background-color: #f8f8f8;
  box-shadow: 5px 5px 10px #cecece, -5px -5px 10px #f2f2f2;
}

html,
body,
.app {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100vh;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_inner {
  position: fixed;
  left: 20%;
  right: 20%;
  top: 25%;
  bottom: 15%;
  margin: auto;
  background: white;
}

h2 {
  margin-top: 50px;
}

.items {
  background-color: #f8f8f8;
  color: #3e3e3e;
  font-size: 10px;
  text-align: left;
}

.secondhead {
  background-color: #e7e7e7;
  color: #3e3e3e;
  font-size: 8px;
  text-align: left;
}

.secondhead td {
  border-left: 0.01px solid #9fa49f;
}

.tfstyle {
  background-color: #d5e8f6;
  height: 27px;
}

.tfstyle2 {
  background-color: #d5e8f6;
  height: 100px;
}

.tfstyle3 {
  background-color: #d5e8f6;
  width: 200px;
}

.formcontainer {
  margin-left: 10%;
  margin-right: 10%;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  margin-right: 10%;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.flexboxContainer {
  margin-top: 2%;
  border-collapse: collapse;
  background-color: #f8f8f8;
  box-shadow: 5px 5px 10px #cecece, -5px -5px 10px #f2f2f2;
  margin-left: 5%;
  margin-right: 5%;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.dropdowns {
  background-color: #e4e4e4;
  width: 110px;
  height: 30px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  align-self: center;
  margin-right: 5px;
}

.avatar2 {
  width: 14px;
  height: 14px;
  margin-right: 2px;
}

.newButton {
  margin-left: 62%;
  width: 150px;
  background-color: #124167;
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
