.flexboxContainer {
  margin-top: 2%;
  border-collapse: collapse;
  background-color: #f8f8f8;
  box-shadow: 5px 5px 10px #cecece,
  -5px -5px 10px #f2f2f2;
  margin-left: 15%;
  margin-right: 15%;
}

.flexboxItem {
  width: 100rem;
  margin: 150px;
  background-color: #dfdfdf;
}

.flexboxItem1 {
  min-height: 100px;
}

.flexboxItem2 {
  min-height: 100px;
  flex-direction: row;
}

.flexboxItem3 {
  min-height: 100px;
}

.text {
  margin-top: 1cm;
}

.form-select {
  background-color: #d5e8f6;
}
.form {
  background-color: #d5e8f6;
}

h2{
  margin-top: 50px;
}

.tfstyle2{
  background-color: #d5e8f6;
  height: 200px;
}

.parent {
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { 
      grid-area: 1 / 1 / 2 / 2;          
  }
  .div2 { 
      grid-area: 1 / 2 / 2 / 3;        
  }
