.flexboxContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2%;
  border-collapse: collapse;
  background-color: #f8f8f8;
  box-shadow: 5px 5px 10px #cecece,
  -5px -5px 10px #f2f2f2;
  margin-left: 30%;
  margin-right: 30%;
}

.flexboxItem {
  width: 100rem;
  margin: 150px;
  background-color: #dfdfdf;
}

.flexboxItem1 {
  min-height: 100px;
}

.flexboxItem2 {
  min-height: 100px;
  flex-direction: row;
}

.flexboxItem3 {
  min-height: 100px;
}

.text {
  margin-top: 1cm;
}

.form-select {
  background-color: #d5e8f6;
}
.form {
  background-color: #d5e8f6;
}

h2{
  margin-top: 50px;
}


