.dashboard {
    display: flex;
    justify-items: center;
    align-content: center;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
}

.row1 {
    display: flex;
    flex-direction: row;
    justify-items: center;
    flex-wrap: wrap; 
}

.row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    flex-wrap: wrap; 
}
.row3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    flex-wrap: wrap; 
}
.row4 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    flex-wrap: wrap; 
}




/*
.row-1 {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,04);
}
*/